.location{
    background-color: rgb(146, 129, 165);
    width: 50%;
    padding: 20px;
    border-radius: 10px;

}

.index{
    width: 100px;
    height: 100px;
    position: absolute;
}
